@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'), /* stylelint-disable-line */
        url('regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono Medium';
    src: local('Roboto Mono Medium'), /* stylelint-disable-line */
        url('medium.ttf') format('truetype');
}