@use 'src/app/assets/styles/shared';
.title {
    @include shared.set-font(20px, bold);
    margin-bottom: 24px;
}
.tag {
    @include shared.set-font(14px, $color: rgba(0,0,0,0.6));
    height: 36px;
    line-height: 36px;
}
.time-text {
    height: 36px;
    line-height: 36px;
}
.text-text {
    overflow: auto;
    width: 100%;
    height: calc(100% - 230px);
    white-space: normal;
    word-break: break-all;
    .text-each {
        margin: 0
    }
}
.text {
    @include shared.set-font(14px);
}
.close {
    float: right;
    margin-left: auto;
    margin-top: 24px;
}
