$color: rgba(0, 0, 0, 0.6);
$border: 1px solid rgba(0, 0, 0, 0.12);

table {
    margin-bottom: 12px;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

td {
    padding: 0 8px;

    &.title-cell {
        border-right: $border;
        width: 120px
    }

    &.sub-title-cell {
        width: 140px;
    }
}

tr {
    border: $border;
    height: 84px;
}

.form-field {
    margin-bottom: 24px;
}
