@use 'src/app/assets/styles/palette.scss';

@use 'src/app/assets/styles/shared.scss';

@use 'src/app/assets/styles/typography.scss';

$error-color: map-get(palette.$logi-red, 600);

:host {
    .input-content {
        position: relative;
    }
    .error {
        position: absolute;
        @include typography.logi-caption-typography;
        color: $error-color;
    }
    .label {
        height: 20px;
        line-height: 20px;
        @include shared.set-font(14px, $color: shared.$black-60);
    }
}
