@use 'src/app/assets/styles/shared';

$header-height: 56px;

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.tree-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 16px;
}
.data-desc {
    padding: 16px;
}

.body {
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    height: calc(100% - #{$header-height});
}
.empty {
    width: 100%;
    height: 100%;
}
